<ng-container *ngIf="root$ | async as root">

  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ng-container *ngFor="let p of menu$ | async">
          <button menuClose ion-item *ngIf="p.show" (click)="openPage(p.id)">
            <span item-start>{{ p.name }}</span>
            <ion-icon item-end name="{{ p.icon }}"></ion-icon>
          </button>
        </ng-container>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="getPage(root)" #content></ion-nav>

</ng-container>
